@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-display: 'Oswald', sans-serif;
  --color-border: oklch(87.2% 0.01 258.338);
  --transition-smooth: all 0.3s ease-in-out;

  --animate-fade-in-scale: fade-in-scale 0.3s ease-out;

  @keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}

@variant dark {
  --color-border: oklch(44.6% 0.03 256.802);
}

@utility transition-smooth {
  transition: var(--transition-smooth);
}

@layer base {
  * {
    border-color: var(--color-border);
  }
  body {
    @apply h-screen w-screen overflow-hidden font-display text-black bg-white;
    @variant dark {
      @apply text-white bg-black;
    }
  }
  button {
    @apply cursor-pointer text-shadow-2xs px-4 py-2 rounded-xl animate-fade-in-scale transition-smooth;
  }
}

@layer components {
  .content {
    @apply bg-linear-0 from-blue-100 via-white to-indigo-100;
    @variant dark {
      @apply text-white 
      bg-linear-0 from-blue-950/80 via-slate-900 to-black;
    }
  }

  .card,
  .tab,
  .dialog {
    @apply rounded-xl bg-white animate-fade-in-scale transition-smooth;

    @variant dark {
      @apply bg-slate-800;
    }
  }

  .tab {
    &:hover {
      @apply bg-white/60;
    }
    @variant dark {
      &:hover {
        @apply bg-slate-600;
      }
    }
  }

  .activeTab,
  .primaryButton {
    @apply text-white bg-emerald-500;
    &:hover {
      @apply bg-emerald-300 text-black;
    }
    @variant dark {
      @apply bg-emerald-700;
      &:hover {
        @apply bg-emerald-500;
      }
    }
  }
  .secondaryButton {
    @apply border;
    &:hover {
      @apply bg-slate-50;
    }
    @variant dark {
      &:hover {
        @apply bg-slate-600;
      }
    }
  }
  .deleteButton {
    @apply bg-red-500 text-white;
    &:hover {
      @apply bg-red-400;
    }
    @variant dark {
      @apply bg-red-500;
      &:hover {
        @apply bg-red-400;
      }
    }
  }

  .completeIcon {
    @apply text-emerald-500 animate-fade-in-scale;
  }
  .unCompleteIcon {
    @apply text-gray-500 animate-fade-in-scale;
  }

  .backdrop {
    @apply bg-black/60 h-screen w-full absolute inset-0 flex items-center justify-center;
  }
  .dialog {
    @apply w-[80%] flex items-center justify-center;
  }
}
