@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-display: 'Oswald', sans-serif;
  --color-border: oklch(87.2% 0.01 258.338);
  --transition-smooth: all 0.3s ease-in-out;

  --animate-fade-in-scale: fade-in-scale 0.3s ease-out;

  @keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}

@variant dark {
  --color-border: oklch(44.6% 0.03 256.802);
}

@utility transition-smooth {
  transition: var(--transition-smooth);
}

@layer base {
  * {
    border-color: var(--color-border);
  }
  body {
    @apply h-screen w-screen font-display text-black 
    bg-linear-0 from-blue-100 via-white to-indigo-100;
    @variant dark {
      @apply text-white 
      bg-linear-0 from-blue-950/80 via-slate-900 to-black;
    }
  }
  button {
    @apply cursor-pointer p-3 rounded-xl animate-fade-in-scale transition-smooth;
  }
}

@layer components {
  .card,
  .tab {
    @apply bg-white animate-fade-in-scale transition-smooth;

    @variant dark {
      @apply bg-slate-800;
    }
  }

  .tab {
    &:hover {
      @apply bg-white/60;
    }
    @variant dark {
      &:hover {
        @apply bg-slate-600;
      }
    }
  }

  .activeTab,
  .primaryButton {
    @apply text-white text-shadow-2xs animate-fade-in-scale transition-smooth
    bg-emerald-500;
    &:hover {
      @apply bg-emerald-300 text-black;
    }
    @variant dark {
      @apply bg-emerald-700;
      &:hover {
        @apply bg-emerald-500;
      }
    }
  }
  .completeIcon {
    @apply text-emerald-500 animate-fade-in-scale;
  }
  .unCompleteIcon {
    @apply text-gray-500 animate-fade-in-scale;
  }
}
