@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-display: "Oswald", sans-serif; 
}


  body {
    @apply h-screen w-screen font-display text-black 
    bg-linear-0 from-blue-100 via-white to-indigo-100;
    @variant dark {
      @apply text-white 
      bg-linear-0 from-blue-950/80 via-slate-900 to-black;
    }
  }

.card{
  @apply bg-white;
  @variant dark {
    @apply bg-slate-800;
  }
}

.completeIcon{
  @apply text-emerald-500;
}
.unCompleteIcon{
  @apply text-gray-500;
}
