@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-display: "Oswald", sans-serif; 
}

body {
  @apply bg-neutral-50 text-neutral-900 font-display;
  @variant dark {
    @apply bg-neutral-900 text-neutral-50;
  }
}
